body {
  background-color: #D8D8D8;
  font-family: arial;
}

.but {
  margin-top: 2rem;
}

.logo {
  border-radius: 25%;
  height: auto;
  margin-right: 2rem;
  width: 30%;
}

/*.homeicon {
margin-top: 2.5rem;
width: auto;
height: 100%;
display: none;
}*/

.hero {
  padding-top: 3rem;
  text-align: center;
}

.app {
  margin-top: 2rem;
}

footer p {
  padding-top: 6rem;
  text-align: center;
}

@media (min-width: 770px) {
  body {
    background-color: #D8D8D8;
    font-family: arial;
  }

  .logo {
    margin-right: 2.4rem;
    border-radius: 25%;
    width: auto;
    height: 100%;
  }

  .navbar {
    border-radius: 5px;
  }

  /*.homeicon {
  margin-top: 3.3rem;
  width: auto;
  height: 100%;
  }*/

  .but {
    margin-top: 3rem;
  }

  .hero  {
    padding-top: 5rem;
    text-align: center; }

.app {
  margin-top: 4rem;
  margin-bottom: 2rem;
  width: auto;
  height: 100%;
}
footer p{
  padding-top: 6rem;
  text-align: center;
}

}
