body {
  background-color: #D8D8D8;
  font-family: arial;
}

a {
  color: blue;
  text-decoration: none;
}

.logo {
  margin-right: 2.4rem;
  border-radius: 25%;
  width: auto;
  height: 100%;
}

.navbar {
  /*background-color: red;*/
}

.homeicon {
  margin-top: 2.5rem;
  width: auto;
  height: 100%;
}

.but {
  margin-top: 2rem;
}

.hero  {
  padding-top: 5rem;
  text-align: left;
}

.main {
  /*background-color: green;*/
}

.footer {
  display: block;
}

footer p{
    padding-top: 6rem;
    text-align: center;
}

.blog {
  margin: 5rem;
}
