* {
  /*outline: 1px solid red;*/
  box-sizing: border-box;
  /*display: flex;*/
}

body {
  background-image: url("gen.jpg");
  background-repeat: repeat;
  font-family: arial;
  font-size: 18px;
  height: auto;
  padding: 0 100px 0 20px;
  width: 100%
}

body h2 {
  color: green;
}

body #q1 {
  font-weight: bold;
  font-size: 20px;
}

a {
  text-decoration: none;
}