body {
  background-image: url("gen.jpg");
  background-repeat: repeat;
  font-family: arial;
}

h1 {
  color: blue;
}

#q {
  color: black;
  padding: 5px 0px 10px 0px;
}

a {
  display: block;
  padding: 10px 0px 10px 0px;
  color: green;
}

#homelink {
  display: block;
  text-align: center;
}
